@model TestViewModel

@{
    ViewData["Title"] = "Test View";
 }




<h1>Hello from Test Controller!</h1>


<h3>@Model.name</h3>
@{

    if (Model.DateOfBirth.HasValue)
    {
                <h4>Date of Birth:  @Model.DateOfBirth</h4>                
    }
<h4>Age: @Model.age years old</h4>
    }